doctype html
html
  head
    title= appTitle
    script(type="text/javascript", src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js")
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/blog.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    #wrap
      .container
        h1.page-header= appTitle
        p.lead welcome to example from express.js
          a(href='http://github.com/cynosures')  cynosure
          | . Roll over!
        block page
        block header
          div
            include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      footer
        .container
          p
            | Copyright &copy; 2016 | Issues? Submit to&#32;
            a(href='https://github.com/coderfucker/kuruman-node/issues') Github
            | .
